<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/compliment.css/">
    <title>Комплименты</title>
</head>
<body>
    <div class="test">
        <h1>Надеюсь это порадует тебя😉</h1>
        <div class="root">
            <p id="random-text">Нажми на кнопку</p>
        </div>
        <footer class="footer_comp">
            <button class="btn-random" id="menu-btn" type="submit">Поздравление</button>
            <button class="btn-random" id="random-btn" type="submit">Генерировать</button>
            <button class="btn-random" id="three-btn" type="submit">Для тебя</button>
        </footer>
    </div>
    <script src="/static/js/start.js"></script>
</body>
</html>