<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/for_you.css/">
    <title>Для тебя</title>
</head>
<body>
    <div class="main-container">
        <img id="image" src="/static/background-image/you.png" alt="Спасибо тебе">
    </div>
    <div id="text1">
        <p>Ты мой лучик надежды</p>
    </div>
    <div id="text2">
        <p>Все мои мысли заняты тобой</p>
    </div>
<!--    <div class="footers">-->
<!--        <footer class="footer_">-->
<!--            <button class="btn-random" id="btn-1" type="submit">Поздравление</button>-->
<!--            <button class="btn-random" id="btn-2" type="submit">Сюрприз</button>-->
<!--            <button class="btn-random" id="btn-3" type="submit">Тебе</button>-->
<!--        </footer>-->
<!--    </div>-->
    <script src="/static/js/start.js"></script>
</body>
</html>
