<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/for_you.css/">
    <title>Для тебя</title>
</head>
<body>
    <div class="main-container">
        <img id="image" src="/static/background-image/you.png" alt="Спасибо тебе">
    </div>

    <div class="text">
        <p>Ты мой лучик надежды</p>
    </div>

    <div class="text">
        <p>Все мои мысли заняты тобой</p>
    </div>

    <div class="text">
        <p>Ты со всем справишься</p>
    </div>

    <div class="text">
        <p>Нет того, с чем бы ты не справилась</p>
    </div>

    <div class="text">
        <p>Ты всегда можешь на меня рассчитывать</p>
    </div>

    <div class="text">
        <p>Не знаю, как бы я справился без тебя</p>
    </div>

    <div class="text">
        <p>Не преуменьшай свою роль в жизни</p>
    </div>

    <div class="text">
        <p>Не преуменьшай свою роль в жизни</p>
    </div>

    <div class="text">
        <p>Ты та, кому я могу открыть своё сердце</p>
    </div>

    <div class="text">
        <p>Если ты не справляешься с чем-то, я всегда рядом</p>
    </div>

    <div class="footers">
        <footer class="footer_">
            <button class="btn-random" id="btn-1" type="submit">Поздравление</button>
            <button class="btn-random" id="btn-2" type="submit">Сюрприз</button>
        </footer>
    </div>
    <script src="/static/js/start.js"></script>
</body>
</html>
